@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Lora:ital,wght@0,400..700;1,400..700&family=Nabla&family=Press+Start+2P&display=swap');
@import url('defaults.css');
@import url('kanagawa.css');
@import url('home.css');
@import url('menu.css');
@import url('card.css');

.dotted-bg {
  --dot-bg: var(--kanagawa-default-background);
  --dot-color: var(--kanagawa-default-foreground);
  --dot-size: 1px;
  --dot-space: 22px;
	background:
		linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
		linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
		var(--dot-color);
}

.btn {
  padding: 0px 5px;
  border: 1px solid black;
  box-shadow: 1px 1px 0 #000000;
  cursor: pointer;
}

.btn:hover {
  translate: -0.5px -0.5px;
  box-shadow: 1.5px 1.5px 0 #000000;
}

.btn:focus {
  border-width: 1px;
  border-color: black white white black;
  box-shadow: 1px 1px 0 #000000 inset;
}
